<div class="screen">
<input type="text" readonly="readonly" [value]="setvalue" id="integer">
<br>
<input type ="text" readonly="readonly" [value]="converter" id="text">
<br>
<button id="one"  (click)="setdata('1')">
  1
</button>
<button id="two" class="buttons" (click)="setdata('2')">
  2
</button>
<button id="three" class="buttons" (click)="setdata('3')">
  3
</button>
<br>
<button id="four"  (click)="setdata('4')">
  4
</button>
<button id="five" class="buttons" (click)="setdata('5')">
  5
</button>
<button  id="six" class="buttons" (click)="setdata('6')">
  6
</button>
<br>
<button id="seven"  (click)="setdata('7')">
  7
</button>
<button id="eight" class="buttons" (click)="setdata('8')">
  8
</button >
 
 <button id="nine" class="buttons" (click)="setdata('9')">
   9
  </button>
  <br>
<button id="hash"  (click)="setdata('#')">
  #
</button>
<button id="zero" class="buttons" (click)="setdata('0')">
  0
</button>
<button id="backspace"class="buttons" (click)="deletedate()">
  <-
</button>
</div>


